################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FEXE2/.vs/FEXE2/v16/Server/sqlite3
